# Archivos de caché de Godot
.godot/

# Archivos de compilación de SCons y C++
*.obj
*.obj.import
*.o
*.a
*.lib
*.exp
*.pdb
.sconsign.dblite

# Papelera de scripts de GodotLuau (restauración con Ctrl+Z)
.luau_trash/

# Ignorar las librerías compiladas (opcional, pero recomendado para el source code)
bin/*.dll
bin/*.so
bin/*.dylib
bin/*.lib
bin/*.exp
bin/*.old

# Caché de editores
.vs/
.vscode/